ion-toolbar {
    padding-top: 10%;
}

.doubleFleche {
    display: block;
    margin: 50px auto;
    width: 47px;
    height: 50px;
    cursor: pointer;
}

.rowfirstContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.explain {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.explainSubTitle {
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--ion-color-tertiary);
}

.colorOrange {
    color: var(--ion-color-primary);
}

.offerTxt {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.offer {
    height: 50px;
}

.imgFirstContent {
    width: 900%;
    height: 100%;
    margin: 20px;
}

.rowSecondContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.divTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divTitleText {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-tertiary);
    background-color: var(--ion-color-danger-rgba);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.projetText {
    font-size: 30px;
    color: var(--ion-color-dark);
    margin: 0;
    text-align: center;
}

.rowSecondContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 50px 25px 50px;
    gap: 50px;
}

.titleProjetPart {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-tertiary);
    text-align: center;
}

.imgSecondContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.textProjetPart {
    font-size: 15px;
    color: var(--ion-color-medium);
}

.linkOffer {
    font-size: 18px;
    text-decoration: underline;
    color: var(--ion-color-primary);
    text-align: center;
    cursor: pointer;
    margin: 50px;
}

.rowThirdContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--ion-color-danger-rgba);
    align-items: center;
}

.titleThirdContent {
    font-size: 30px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
    text-align: center;
    margin: 30px;
}

.textThirdContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products {
    margin: 0 auto 50px auto;
    height: 50px;
}

.productsText {
    padding: 15px;
    font-size: 20px;
}

.fourthContent {
    background-image: url('../../assets/svg/icons/world.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px 0 100px 0;
}

.rowfourthContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 30px;
}


.titleFourthContent {
    font-size: 30px;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin: 0;
    width: 1000px;
    margin: 25px;
    width: 90%;
}
.playStore {
    margin-left: 25px;
    height: 50px;
}

.playStoreTxt {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px;
}

.rowfiveContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    margin-bottom: 30px;
}

.titleFiveContent {
    font-size: 30px;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin: 0;
    margin-bottom: 25px;
}

.titleFAQ {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-dark);
    margin: 0;
    width: 1000px;
    height: min-content;
}

.descFAQ {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-medium);
    width: 1000px;
    margin-left: 5px;
    height: min-content;
}

#page > ion-content > div.fiveContent > ion-row > ion-col:nth-child(3) {
    display: none;
}

#page > ion-content > div.fiveContent > ion-row > ion-col.colfiveContent.md {
    margin: 50px auto 50px auto;
}

.ion-padding.descFAQ {
    width: fit-content;
}

.mobileImg{
    max-width: fit-content;
    width: 100%;
    height: 100%;
}

.question {
    color: var(--ion-color-tertiary);
}