.logo2 {
  max-width: 13vw !important;
  margin-right: 3%;
  margin-top: 3%;
}

.label2 {
  margin-left: 7%;
}

.logo3 {
  max-width: 28vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  margin-top: 5%;
}


.form {
  margin-top: 3%;
  margin-bottom: 5%;
}

.select {
  margin-left: 4%;
}

.row {
  margin-top: 7%;
}

.titleConfigServ {
  font-size: 28px;
  margin: 1% 0 0 0;
  padding: 0;
  color: var(--ion-color-tertiary);
}

.secondTitleConfigServ {
  font-size: 22px;
  padding: 0;
  color: var(--ion-color-tertiary);
}

.rowConfig {
  margin-top: 2%;
}

.firstColConfigServ {
  margin: 0 0 0 5%;
}

.textLabelFormServ {
  font-size: 20px !important;
  margin: 0 !important;
  color: var(--ion-color-blue) !important;
  padding: 0 !important;
}

div.item-native {
    margin: 0 !important;
    padding: 0 !important;
}

.selectOptionServVersionModPack {
  margin: 0 !important;
  width: auto;
  --placeholder-color: var(--ion-color-primary);
  margin: 10px 0 0 0 !important;
  border: 2px solid var(--ion-color-primary) !important;
  border-radius: 5px;
  --highlight-background: var(--ion-color-light) !important;
}

#configMain > form > ion-row > ion-col.firstColConfigServ.md > ion-row:nth-child(4) > ion-item > ion-select {
  padding-left: 1vw !important;
}

.selectOptionServVersionModPack::part(icon) {
  color: var(--ion-color-primary);
}

.div.item-bottom {
  display: none;
}

#configMain > form > ion-row > ion-col.firstColConfigServ.md > ion-row:nth-child(5) > ion-item > ion-select {
  padding-left: 1vw !important;
}

.configRecap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px auto  30px auto;
  padding: 20px;
  width: 90%;
}

.endPricePay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.payTitleConfigServ {
  font-size: 22px;
  padding: 0;
  color: var(--ion-color-primary);
}

#configMain > form > ion-row > ion-col:nth-child(2) > ion-row:nth-child(2) > div > ion-col > ion-row:nth-child(4) > ion-item > ion-checkbox {
  margin-right: 0.5vw !important;
}

.textLabelFormServRecap {
  font-size: 12px !important;
  margin: 0 !important;
  color: var(--ion-color-blue) !important;
  padding: 0 !important;
}

.titleRecap {
  margin-bottom: 10px;
}

.alignItemRecap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}