.nabbar {
    display: flex;
}

.image {
    height: max-content;
    margin-left: 30px;
}

ion-text {
    margin-right: 30px;
    font-size: 20px;
}

.logoNavbar {
    max-width: fit-content;
}

.btnText {
    cursor: pointer;
    color: var(--ion-color-tertiary);
}

.btnText:hover {
    color: var(--ion-color-primary);
    background-color: var(--ion-color-primary-rgba);
}

ion-select-popover {
    margin: 0 !important;
    width: auto;
}

.login {
    font-size: 20px;
    height : 50px;
    margin: 0 50px 0 40px;
    margin-left: 5%;
}

ion-select {
    --placeholder-color: var(--ion-color-primary);
}

ion-select::part(icon) {
    color: var(--ion-color-primary);
}

ion-toolbar {
    --min-height: 110px;
    --padding-top: 20px;
}

.btn {
    padding: 10px;
}

ion-modal{
    --height : max-content;
    --width : max-content;
}

ion-grid{
    width: 100% !important;
    margin-top: 2%;
}

.droite {
    display: flex;
    justify-content: right;
    padding-right: 4%;
}

.closePopUp {
    cursor: pointer;
}