.image {
    height: max-content;
}

ion-text {
    margin-right: 5%;
}

ion-select-popover {
    margin: 0 !important;
    width: auto;
}

.button {
    margin: 0 2% 0 5%;
}

ion-select {
    --placeholder-color: var(--ion-color-primary);
}

ion-select::part(icon) {
    color: var(--ion-color-primary);
}

ion-toolbar {
    --min-height: 110px;
    --padding-top: 20px;
}