@font-face {
    font-family: "Poppins";
    src: local("Poppins-Bold"),
     url("./fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
}

html {
    --ion-default-font: "Poppins", sans-serif !important;
}